<header class="main-header">
  <nav class="nav-container">
    <div class="nav-brand" routerLink="/" style="cursor: pointer;">
      <img src="logo.jpg" alt="Thirukkural Logo" class="brand-logo">
      <span class="brand-text">Thirukkural</span>
    </div>

    <div class="nav-actions">
      <ng-container *ngIf="user$ | async as user; else loginBtn">
        <div class="user-menu">
          <div class="user-avatar">{{ user.attributes.email[0].toUpperCase() }}</div>
          <button mat-button class="btn-logout" (click)="logout()">Sign Out</button>
        </div>
      </ng-container>

      <ng-template #loginBtn>
        <button mat-button class="btn-login" (click)="login()">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M9 9a4 4 0 100-8 4 4 0 000 8zm0 2c-4.42 0-8 1.79-8 4v2h16v-2c0-2.21-3.58-4-8-4z"
              fill="currentColor" />
          </svg>
          Sign In
        </button>
      </ng-template>
    </div>
  </nav>
</header>